NODE_ENV=local
PORT=4001

MYSQL_HOST=localhost
MYSQL_PORT=33060
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=scheduler
MYSQL_USER=admin
MYSQL_PASSWORD=password
MYSQL_REPLICA_HOST=localhost
MYSQL_REPLICA_PORT=33061
MYSQL_REPLICA_USER=admin
MYSQL_REPLICA_PASSWORD=password