NODE_ENV=local
PORT=4001

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=scheduler
MYSQL_USER=admin
MYSQL_PASSWORD=password


DB_PORT=13306
DB_HOST=localhost
DB_HOST_PORT=13306

DB_REPLICA_PORT=13307
DB_REPLICA_HOST=localhost
DB_REPLICA_USER=admin
DB_REPLICA_PASSWORD=password
DB_REPLICA_HOST_PORT=13307